// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// The bullets will be removed on all lists (both index and edit pages)

li {
	list-style-type: none;   /* remove the list bullet on the edit action view */
}
//-------------------------------------------------------------------------------

// index page selectors only

// font size on theme widgets is too big, over-ride it here.
.ui-widget {
	font-size: 11px;
}

ul:nth-child(even) {
	background-color: #E8E8E8;
	border-radius: 5px;
}

ul {
	padding-left: 0px;
}

ul ul {
	overflow: auto;
	white-space: nowrap;
	height: 90px;
}

ul ul img {
	padding: 5px;
}
ul ul li {
	display: inline;
}

.exercise_label{
	color: blue;
	float: left;
	width: 80px;
	#overflow: auto;
	word-wrap: break-word;
}

/* this is the label (that is, the first column) on the exercises index page */
.exercise_label span:nth-child(3) {
	color: dimGrey;
	font-size: 8pt;
	font-family: helvetica;
}

.edit_menu {
	color: red;
	float: left;
	width: 50px;
	font-size: smaller;
}